# dependencies
/node_modules
/.pnp
.pnp.js
CLAUDE.md
CLAUDE_CV_IS_ILANI_ESLESTIRME_PROMPT.md
# next.js
/.next/
/out/
.claude
# production
/build

# env files
.env
.env.local
.env*.local

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
*.pem
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp
*.swo
